doctype html
html(lang="en")
 head
  block base_meta
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1")

  block base_head_links
   link(rel="stylesheet" href="css/styles.css")

  block base_title
   title Page Title

 body
  block base_body
   h1 Page Header
   p Page content

  block base_body_links
   // link(rel="text/javascript" href="js/third_party/jquery.js")
   link(rel="text/javascript" href="js/main.js")
